<div>
  <p>
    Выбираем вкладку "Приложения"
  </p>
  <div class="uk-responsive-width">
    <img src="http://i.imgur.com/sQVfwRi.png" alt="Image">
</div>

<p>Выбираем пункт "Вебхуки"</p>
<div class="uk-responsive-width">
  <img src="http://i.imgur.com/FpjXwkn.png" alt="">
</div>

<p>Добавить вебхук - Входящий вебхук</p>
<div class="uk-responsive-width">
<img src="http://i.imgur.com/9S6OIUY.png" alt="">
</div>

<p>Пишем название, ставим галочку около CRM, нажимаем Сохранить</p>
<div class="uk-responsive-width">
<img src="http://i.imgur.com/bEAnqtt.png" alt="">
</div>

<p>Копируем ключ</p>
<div class="uk-responsive-width">
<img src="http://i.imgur.com/IMmjVIQ.png" alt="">
</div>

<p>Переходим в админку, вставляем ключ и нажимаем "Создать"</p>
<div class="uk-responsive-width">
<img src="http://i.imgur.com/mgTluJK.png" alt="">
</div>


<h2>Добавляем паблик</h2>

<p>Переходим в управление сообществом, Callback API, создаем сервер, копируем "Строка, которую должен вернуть сервер"</p>
<div class="uk-responsive-width">
<img src="http://i.imgur.com/WjPBGjU.png" alt="">
</div>

<p>Переходим в админку, по ссылке на созданный ключ и вставляем это в поле "строка подтверждения".</p>
<p>В поле "Адрес сервера вставляем https://bot.dev.zhuharev.ru/cb/[КЛЮЧ ЦРМ] (адрес сервера можно посмотреть в настройках црм)"</p>
<p>Возвращаемся в управление сообществом и жмём подтвердить. Подтверждение должно пройти без ошибок. Потом переходим во вкладку "Типы событий и выделяем нужные"</p>
</div>


<h2>AMO</h2>
<p>
  Получение ключа АПИ и домена
</p>
<div class="uk-responsive-width">
<img src="http://i.imgur.com/zxZ3msc.png" alt="">
</div>

<div class="uk-responsive-width">
<img src="http://i.imgur.com/qtryUnw.png" alt="">
</div>
