<form method="post" action="/edit/{{ .group.VkID }}">

    <fieldset class="uk-fieldset">
        <legend>Добавить паблик</legend>
        <div class="uk-margin">
          <input class="uk-input" name="public_id" type="text" value="{{ .group.VkID }}" placeholder="Id паблика">
        </div>
        <div class="uk-margin">
          <label  class="uk-form-label" for="">Шаблон промокода (например, "НЛ-%d-%d" - вместо %d будет подставлены порядковый номер розыгрыша и место пользователя)</label><br>
          <input class="uk-input" name="promocode_template" value="{{ .group.PromoCodeTemplate }}" type="text" placeholder="Шаблон промокода"></div>
        <div class="uk-margin">
          <label class="uk-form-label" for="">Шаблон ответа на сообщение пользователя</label>
          <textarea name="answer_template" class="uk-textarea" id="" rows="10">{{ .group.InfoTemplate }}</textarea>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="">Id гугл-талицы (https://docs.google.com/spreadsheets/d/<b>1EQJASr9CuBlAcSmvlJoGQzqaUMxMkAW2RI_2863MLBQ</b>/edit#gid=0) <a href="https://docs.google.com/spreadsheets/d/{{ .group.SheetID }}/edit">Открыть</a></label>
          <input class="uk-input" name="sheet_id" type="text" value="{{ .group.SheetID }}" placeholder="Id гугл-таблицы">
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="">Название листа в гугл-документе</label>
          <input class="uk-input" name="sheet_name" type="text" value="{{ .group.SheetName }}" placeholder="Название листа в гугл-документе">
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="">Ключ сообщества для сообщений</label>
          <input class="uk-input" name="vk_key" type="text" value="{{ .group.VkAccessToken }}" placeholder="Ключ сообщества">
        </div>


        <div class="uk-margin">
            <label for="texttext">Шаблон "безответного" напоминания. (5 часов)</label>
            <textarea placeholder="оставьте пустым, если хотите брать значение из гловальных настроек" class="uk-textarea" name="notify_text" id="texttext" cols="30" rows="10">{{ .group.NotifyText }}</textarea>
        </div>

        <div class="uk-margin">
            <label for="endtext">Шаблон напоминания о завершении розыгрыша. (за 7 дней до окончания действия приза)</label>
            <textarea placeholder="оставьте пустым, если хотите брать значение из гловальных настроек" class="uk-textarea" name="end_text" id="endtext" cols="30" rows="10">{{ .group.EndText }}</textarea>
        </div>

        <button class="uk-button">Обновить</button>




    </fieldset>

</form>
