{{ with .errors }}
<h2>Ошибки</h2>
{{ range .}}
<p> {{ . }}
{{ end }}{{end}}
<h2>Победители</h2>
{{range .rows}}
<p>{{if .InfoSended}}{{else}} <a href="/publics/{{ $.publicID }}/healts/{{.VkID}}">{{.}}</a> {{end}}
{{end}}
